@inject RoleBasedAccessControl.POCO.IApplicationConfiguration AppSettings;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Royal Brothers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Royal Brothers</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item" style="position: absolute; right: 5%;">
                            <a class="nav-link text-dark" onclick="fn_Logout()" >Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RoleBasedAccessControl - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

<script>
    $(document).ready(function () {
        if(sessionStorage.getItem('AccessToken') == null) {
            location.href = sessionStorage.getItem('UIEndPoint') + 'OAuth/Index';
        }
        fn_UserView(0);
    });
    function fn_Logout() {
        //window.location.href = sessionStorage.getItem('UIEndPoint') + 'OAuth/Login';
        $.ajax({
            cache: false,
            type: 'Post',
            url: sessionStorage.getItem("UIEndPoint") + "OAuth/Logout",
            headers: {
                'Authorization': '' + getJwtBearerToken() + '', 'refreshToken': '' + getRefreshToken() + ''
            },
            contentType: 'application/json',
            success: function (dataReceived, textStatus, request) {
                if (request.status === 200) {
                    sessionStorage.removeItem("AccessToken");
                    sessionStorage.removeItem("RefreshToken");
                    sessionStorage.removeItem("APIEndPoint");
                    sessionStorage.removeItem("UserId");

                    location.href = sessionStorage.getItem('UIEndPoint') + 'OAuth/Index';
                }
            },
            error: function (request, textStatus, errorThrown) {
                alert("error");
            }
        });
    }
</script>
</body>
</html>
